@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800 sm:text-lg lg:text-xl  font-semibold;
}

.primary-button {
  @apply px-5 py-2 text-white bg-blue-600 border-none rounded-full 
  hover:cursor-pointer hover:opacity-80 duration-300;
}

.secondary-button {
  @apply px-5 py-2 border-2 text-gray-600 border-gray-600 rounded-full 
  hover:cursor-pointer hover:bg-gray-200 duration-300;
}

.delete-button {
  @apply px-5 py-2 border-2 text-red-600 border-red-600 rounded-full 
  hover:cursor-pointer hover:bg-red-200 duration-300;
}

.link {
  @apply text-blue-600 hover:cursor-pointer hover:opacity-80 duration-300;
}

.grayLink {
  @apply font-normal text-gray-400 hover:opacity-70 duration-300;
}

.headingLg {
  @apply text-3xl sm:text-4xl lg:text-5xl font-bold;
}

.headingMd {
  @apply text-2xl sm:text-3xl lg:text-4xl font-bold;
}

.input {
  @apply border-none bg-white p-2 lg:p-3 rounded-xl shadow;
}

.error {
  @apply font-normal text-red-500;
}

.stdWidth {
  @apply w-5/6 sm:w-2/3 md:w-1/2 lg:w-2/5;
}
